$custom-font: "Open Sans", "Arial", sans-serif;

$mobile-width: 767px;
$tablet-width: 1023px;
$desktop-width: 1024px;

$basic-white: #ffffff;
$input-grey: rgba(28,28,28, 0.5);
$light-blue: #0AD9C6;
$darker-blue: #0cb6a5;
$menu-font-grey: #48494D;
$light-grey: #F6F6F6;
$basic-black: #000000;
$border-grey: #C9CCD4;
$title-black: #1F1F1F;
$location-desc: rgba(0, 0, 0, 0.7);
$contacts-grey: rgba(0, 0, 0, 0.5);
$types-bg: #F6F7F9;
$video-bg-black: #131314;
$opacity-white: rgba(255, 255, 255, 0.7);