.contacts {
  margin: 0 auto;
  margin-top: 38px;
  margin-bottom: 88px;
  padding-right: 10px;
  display: flex;
  flex-wrap: wrap;
  width: 547px;
  justify-content: space-between;
}

.contacts__item {
  text-decoration: none;
  font-family: $custom-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $contacts-grey;
  position: relative;
}

.contacts__item:hover,
.contacts__item:focus {
  color: $location-desc;
}

.contacts__item--email {
  width: 268px;
  padding-left: 41px;
  box-sizing: border-box;
}

.contacts__item--phone {
  width: 190px;
  padding-left: 37px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.contacts__item--email::before {
  content: "";
  position: absolute;
  width: 26px;
  height: 20px;
  background-image: url("../img/icon-mail.svg");
  left: 0;
  top: 3px;
}

.contacts__item--phone::before {
  content: "";
  position: absolute;
  width: 21.5px;
  height: 22.62px;
  background-image: url("../img/icon-phone.svg");
  left: 0;
  top: -2px;
}

@media (max-width: $tablet-width) {
  .contacts {
    margin-top: 35px;
    margin-bottom: 53px;
    padding-left: 25px;
  }
}

@media (max-width: $mobile-width) {
  .contacts {
    flex-direction: column;
    align-items: flex-start;
    width: 288px;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 51px;
    padding-left: 0;
    padding-right: 0;
  }

  .contacts__item {
    text-align: center;
    margin-left: 35px;
  }

  .contacts__item--email {
    margin-bottom: 25px;
    margin-left: 13px;
  }

  .contacts__item--phone {
    margin-left: 43px;
  }

  .contacts__item--email::before {
    left: 0;
  }

  .contacts__item--phone::before {
    left: 0;
  }
}
