.facts {
  width: 100%;
  margin: 0 auto;
  margin-top: 152px;
  margin-bottom: 60px;

  h2 {
    color: $title-black;
    margin-bottom: 104px;
  }
}

.facts__list {
  display: flex;
  flex-wrap: wrap;
  max-width: 1166px;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  counter-reset: my-counter;
}

.facts__item {
  width: 263px;
  font-family: $custom-font;
  font-weight: 400;
  font-size: 22px;
  line-height: 34px;
  letter-spacing: -0.5px;
  text-align: center;
  margin-bottom: 70px;
  counter-increment: my-counter;
  position: relative;

  &::before {
    content: "0" counter(my-counter);
    position: absolute;
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
    color: $light-blue;
    top: -51px;
    left: 44%;
  }
}

@media (max-width: $tablet-width) {
  .facts {
    margin-top: 20px;
    margin-bottom: 0;

    h2 {
      margin-bottom: 91px;
    }
  }

  .facts__list {
    width: 556px;
    flex-wrap: wrap;
  }

  .facts__item:nth-child(2n) {
    margin-bottom: 93px;
  }
}

@media (max-width: $mobile-width) {
  .facts {
    margin-bottom: 0;

    h2 {
      margin-bottom: 91px;
    }
  }

  .facts__list {
    flex-direction: column;
    width: 288px;
  }

  .facts__item {
    font-size: 18px;
    margin: 0 auto;
    margin-bottom: 83px;
  }

  .facts__item:nth-child(3n) {
    margin-bottom: 95px;
  }
}
