.form {
  width: 327px;
  margin-bottom: 240px;

  p {
    font-family: $custom-font;
    font-size: 17px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.005em;
    margin: 0;
    width: 327px;
    text-align: center;
    color: $basic-white;
    margin-bottom: 20px;
  }

  input {
    width: 327px;
    min-height: 48px;
    border: none;
    outline: none;
    box-sizing: border-box;
    border-radius: 6px;
    margin-bottom: 20px;
    padding-left: 29px;
    padding-top: 5px;
    font-family: $custom-font;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: $input-grey;
  }
}

.form__btn {
  margin-top: 3px;
  border: none;
  outline: none;
  width: 327px;
  min-height: 48px;
  box-sizing: border-box;
  border-radius: 6px;
  background-color: $light-blue;
  font-family: $custom-font;
  font-size: 15px;
  font-weight: 600;
  transition: background-color 100ms ease-in-out;

  &:hover {
    background-color: $darker-blue;
  }
}

@media (max-width: $tablet-width) {
  .form {
    width: 100%;
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 58px;
    display: flex;
    flex-direction: column;

    p {
      width: 321px;
      color: $basic-black;
      margin: 0 auto;
      margin-bottom: 30px;
    }

    input {
      border: 1px solid $border-grey;
      width: 321px;
      min-height: 48px;
      margin: 0 auto;
      margin-bottom: 20px;
      padding-left: 20px;
      padding-top: 5px;
    }
  }

  .form__btn {
    width: 321px;
    min-height: 48px;
    margin: 0 auto;
    margin-top: 1px;
  }
}

@media (max-width: $mobile-width) {
  .form {
    p,
    input,
    .form__btn {
      width: 288px;
    }

    p {
      font-size: 18px;
      margin-bottom: 21px;
    }
  }

  .form__btn {
    margin-top: -1px;
  }
}
