header {
  width: 100vw;
  min-height: 825px;
  background-image: url("../img/head_bike_desc.png");
  background-size: cover;

  @media (min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
    background-image: url("../img/head_bike_desc@2x.png");
    background-size: cover;
  }

  @media (max-width: $tablet-width) {
    background: none;
    min-height: fit-content;
  }
}

.main {
  position: relative;
  padding-top: 256px;
  display: flex;
  width: 878px;
  margin: 0 auto;
  justify-content: space-between;

  h1 {
    font-family: $custom-font;
    font-size: 46px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: -0.005em;
    color: $basic-white;
    width: 393px;
    margin-top: 25px;
    margin-bottom: 24px;
  }

  p {
    font-family: $custom-font;
    font-size: 20px;
    font-weight: 300;
    line-height: 32px;
    letter-spacing: -0.005em;
    color: rgba(255, 255, 255, 0.8);
    width: 381px;
  }
}

@media (max-width: $tablet-width) {
  .main {
    padding-top: 0;
    flex-direction: column;
    width: 100%;

    .main__wrapper {
      padding-top: 25px;
      background-image: url("../img/head_bike_desc.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-position-y: -50px;

      @media (min-resolution: 144dpi),
        (min-resolution: 1.5dppx) {
        background-image: url("../img/head_bike_desc@2x.png");
        background-size: cover;
      }

      height: 315px;
    }

    img {
      margin-left: 21px;
    }

    h1 {
      font-size: 30px;
      width: 525px;
      margin: 0 auto;
      margin-top: 75px;
      margin-bottom: 10px;
      text-align: center;
    }

    p {
      font-size: 18px;
      text-align: center;
      width: 435px;
      margin: 0 auto;
    }
  }
}

@media (max-width: $mobile-width) {
  .main {
    .main__wrapper {
      min-height: 390px;
      background-image: url("../img/head_bike_mobile.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-position-y: 0;

      @media (min-resolution: 144dpi),
        (min-resolution: 1.5dppx) {
        background-image: url("../img/head_bike_mobile@2x.png");
        background-size: cover;
      }

      box-sizing: border-box;
      position: relative;
    }

    img {
      margin-left: 16px;
    }

    h1 {
      width: 288px;
      line-height: 42px;
      margin-top: 73px;
      margin-bottom: 20px;
    }

    p {
      width: 288px;
    }
  }
}
