.page-header {
  width: 100%;
  min-height: 825px;
  background-color: $main-bg-color;
  background-image: url("../img/head_bike_desc.png");
  background-size: cover;

  @media (min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
    background-image: url("../img/head_bike_desc@2x.png");
    background-size: cover;
  }

  @media (max-width: $tablet-width) {
    background: none;
    min-height: fit-content;
  }
}
