.types {
  padding-top: 171px;
  padding-bottom: 147px;
  background-color: $types-bg;
  width: 100%;

  .types__title {
    width: 288px;
    margin: 0 auto;
    @include title-font;
    color: $title-black;
    text-align: center;
    margin-bottom: 51px;
  }

  .types__wrapper {
    margin: 0 auto;
    display: flex;
    width: 1126px;
    justify-content: space-between;
  }

  .types__box {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;
  }

  .types__box:first-child {
    margin-top: 10px;

    &::before {
      content: "";
      position: absolute;
      width: 180px;
      height: 180px;
      background-image: url("../img/circle.svg");
      top: 156px;
      left: -60px;
      z-index: -1;
    }
  }

  .types__box:nth-child(2) {
    margin-top: 39px;

    &::before {
      content: "";
      position: absolute;
      width: 47px;
      height: 47px;
      background-image: url("../img/rectangle.svg");
      top: -18px;
      left: -19px;
    }

    &::after {
      content: "";
      position: absolute;
      width: 47px;
      height: 47px;
      background-image: url("../img/rectangle.svg");
      bottom: 32px;
      right: -23px;
    }
  }

  .types__box:last-child {
    &::before {
      content: "";
      position: absolute;
      width: 95px;
      height: 95px;
      background-image: url("../img/circle.svg");
      background-size: contain;
      top: -30px;
      right: -36px;
    }
  }

  .types__img {
    margin-bottom: 20px;
  }

  .types__img-desc {
    font-family: $custom-font;
    font-weight: 600;
    font-size: 22px;
    line-height: 34px;
    letter-spacing: -0.5px;
    text-align: center;
  }
}

@media (max-width: $tablet-width) {
  .types {
    padding-top: 57px;
    padding-bottom: 64px;

    .types__title {
      @include title-tablet-font;
      margin-bottom: 35px;
    }

    .types__wrapper {
      flex-wrap: wrap;
      width: 590px;
    }

    .types__box:first-child {
      &::before {
        width: 127px;
        height: 127px;
        background-size: contain;
        left: -37px;
        top: 201px;
      }
    }

    .types__box:nth-child(2) {
      margin-bottom: 50px;

      &::before,
      &::after {
        display: none;
      }
    }

    .types__box:last-child {
      margin: 0 auto;

      &::before {
        width: 68px;
        height: 68px;
        top: -20px;
        right: -25px;
      }
    }

    .types__box:first-child,
    .types__box:nth-child(2) {
      margin-top: 0;
    }

    .types__img {
      width: 270px;
      height: 300px;
      margin-bottom: 20px;
    }
  }
}

@media (max-width: $mobile-width) {
  .types {
    padding-bottom: 53px;

    .types__wrapper {
      flex-direction: column;
      align-items: center;
      width: 270px;
      margin: 0 auto;
    }

    .types__box:first-child {
      &::before {
        left: -25px;
      }
    }

    .types__box:nth-child(2) {
      margin-bottom: 40px;
    }

    .types__box:last-child {
      margin: 0;

      &::before {
        top: -19px;
        right: -5px;
      }
    }

    .types__box {
      margin-bottom: 40px;
    }

    .types__img {
      margin-bottom: 15px;
    }

    .types__img:last-child {
      margin-bottom: 17px;
    }

    .types__img-desc {
      width: 288px;
      margin-left: -10px;
    }
  }
}