$custom-font: "Open Sans", "Arial", sans-serif;

$mobile-width: 767px;
$tablet-width: 1023px;
$desktop-width: 1024px;

$basic-white: #ffffff;
$input-grey: rgba(28, 28, 28, 0.5);
$light-blue: #0ad9c6;
$darker-blue: #0cb6a5;
$menu-font-grey: #48494d;
$light-grey: #f6f6f6;
$basic-black: #000000;
$border-grey: #c9ccd4;
$title-black: #1f1f1f;
$location-desc: rgba(0, 0, 0, 0.7);
$contacts-grey: rgba(0, 0, 0, 0.5);
$types-bg: #f6f7f9;
$video-bg-black: #131314;
$opacity-white: rgba(255, 255, 255, 0.7);
$main-bg-color: #464646
